.cursor-icons-all {
    /* transition: opacity 0.3s ease; */
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    transform: translateY(-50%);
    /* opacity: 0; */
}
.setCard{
    margin-top: 150px;
}
.cursor-icons-all:hover {
    /* opacity: 1; */
}

.carousel-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.cursor-icons {
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    padding-left: 2px;
    border: none;
}

.cursor-icons2 {
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    padding-right: 1px;
    border: none;
}

.carousel-indicators [data-bs-target] {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    opacity: 0.5;
    margin: 0 5px;
    border: none !important;
    color: rgb(255, 255, 255);
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
}

.carousel-indicators .active {
    color: rgb(255, 255, 255);
    opacity: 1 !important;
    background-color: rgb(255, 255, 255);
}

/* عامة */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.review{
    width: 32%;
    text-align: end;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .d-flex {
        justify-content: center;
    }

    .card-container {
        width: 100%;
        margin: 0 auto;
        flex: 0 1 100%;
    }

    .carousel-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 12px;
    }

    

    .cursor-icons {
        border-radius: 20px;
        background-color: #FFFFFF;
        color: #000000;
        font-size: 20px;
        padding-left: 2px;
        border: none;
    }

    .cursor-icons2 {
        border-radius: 20px;
        background-color: #FFFFFF;
        color: #000000;
        font-size: 20px;
        padding-right: 1px;
        border: none;
    }

    .carousel-indicators [data-bs-target] {
        width: 6px !important;
        height: 6px !important;
        border-radius: 50% !important;
        opacity: 0.5;
        margin: 0 5px;
        border: none !important;
        color: rgb(255, 255, 255);
    }

    .carousel-indicators [data-bs-target] {
        background-color: #000;
    }

    .carousel-indicators .active {
        color: rgb(255, 255, 255);
        opacity: 1 !important;
        background-color: rgb(255, 255, 255);
    }

    /* لتوسيط الكارد */
    .card-body {
        padding: 15px;
    }

    .dots-container {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ddd;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }

    .dot.active {
        background-color: #007bff;
    }
}
.custom-toast {

    /* color: #272343 !important; */
    font-size: 12px !important;
    font-weight: 500;
    border-radius: 12px !important;
    display: flex;
    align-items: center;

}

.toast-content {
    display: flex;
    align-items: center;
    gap: 10px;
 
}

.toast-img {
    width: 24px;
    height: 24px;
    border-radius: 5%;
}
